<!-- room system area -->
<div class="hethongphong_area">
    <h2>{% t room_system.header %}</h2>
    <h6>{% t room_system.detail %}</h6>

    <div class="row">

        <div class="col-md-4">
            <div class="room_items">
                <div class="img_room_items">
                    <a href="#">
                        <img src="src/img/1giuongdoi.jpg" /> </a>
                </div>
                <div class="info_room_items">
                    <h3>
                        <a href="#"> {% t room_system.type_01 %} </a>
                    </h3>
                    <p>
                        <span>250.000 VND</span>
                        {% if site.lang == "vi" %}
                            <a href="/#booking_form">
                        {% else %}
                            <a href="/{{ site.lang }}/#booking_form">
                        {% endif %}
                            <button>{% t room_system.book_now %}</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="room_items">
                <div class="img_room_items">
                    <a href="#">
                        <img src="src/img/haigiuongdoi.jpg" /> </a>
                </div>
                <div class="info_room_items">
                    <h3>
                        <a href="#"> {% t room_system.type_02 %} </a>
                    </h3>
                    <p>
                        <span>350.000 VND</span>
                        {% if site.lang == "vi" %}
                            <a href="/#booking_form">
                        {% else %}
                            <a href="/{{ site.lang }}/#booking_form">
                        {% endif %}
                            <button>{% t room_system.book_now %}</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="room_items">
                <div class="img_room_items">
                    <a href="#">
                        <img src="src/img/bagiuongdoi.jpg" /> </a>
                </div>
                <div class="info_room_items">
                    <h3>
                        <a href="#"> {% t room_system.type_03 %} </a>
                    </h3>
                    <p>
                        <span>400.000 VND</span>
                        {% if site.lang == "vi" %}
                            <a href="/#booking_form">
                        {% else %}
                            <a href="/{{ site.lang }}/#booking_form">
                        {% endif %}
                            <button>{% t room_system.book_now %}</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="room_items">
                <div class="img_room_items">
                    <a href="#">
                        <!-- <img src="https://dummyimage.com/700x493/" /> </a> -->
                        <div class="img-vip" src=""></div>
                    </a>
                </div>
                <div class="info_room_items">
                    <h3>
                        <a href="#"> {% t room_system.type_04 %} </a>
                    </h3>
                    <p>
                        <span>300.000 VND</span>
                        {% if site.lang == "vi" %}
                            <a href="/#booking_form">
                        {% else %}
                            <a href="/{{ site.lang }}/#booking_form">
                        {% endif %}
                            <button>{% t room_system.book_now %}</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end room system area -->