<!-- content body -->
<div class="content_homepage">
    <div class="container">
        <div class="booking_form" id="booking_form">
            <p>
                <noscript>Lưu ý: Cần phải có JavaScript với nội dung này.</noscript>
            </p>
            <h3>{% t booking.booking %}</h3>
            <p>
                <i>{% t booking.note_1 %}(<span class="text-red">*</span>){% t booking.note_2 %}</i>
            </p>
            <div>
                <form id="gform" method="POST" class="pure-form pure-form-stacked" data-email="nhanghimaichau@gmail.com" action="https://script.google.com/macros/s/AKfycby10RpMy2Fm-KKmfeyewOtrAI5SoouBEYSYIAplGg/exec">
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.full_name %}
                            <span class="text-red">*</span>
                        </label>
                        <input id="name" name="name" class="form-control" type="text" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.phone %}
                            <span class="text-red">*</span>
                        </label>
                        <input id="phone" name="phone" class="form-control" type="text" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.email %}
                            <span class="text-red">*</span>
                        </label>
                        <input id="email" name="email" class="form-control" type="email" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.type %}</label>
                        <select id="type" name="type" class="form-control">
                            <option value="Không chọn"></option>
                            <option value="Một giường đôi">{% t booking.type_option_01 %}</option>
                            <option value="Hai giường đôi">{% t booking.type_option_02 %}</option>
                            <option value="Ba giường đôi">{% t booking.type_option_03 %}</option>
                            <option value="Phòng VIP">{% t booking.type_option_04 %}</option>
                        </select>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.persons %}</label>
                        <input id="persons" name="persons" class="form-control" type="number" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.childrens %}</label>
                        <input id="childrens" name="childrens" class="form-control" type="number" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.from %}</label>
                        <div class='input-group date' id=''>
                            <input id="from" name="from" input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.to %}</label>
                        <div class='input-group date' id=''>
                            <input id="to" name="to" input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group col-btn-book">
                        <label for="" class=""></label>
                        <button id="btn-book" class="btn btn-info">
                            <i class="fa fa-paper-plane"></i>{% t booking.book_now %}
                        </button>
                    </div>
                </form>
                <div style="display:none;" id="thankyou_message">
                    <h3 class="text-red">
                        <em>{% t booking.thank_you %}</em>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% include common/introduce.html %}
        {% include common/room-system.html %}
    </div>
</div>
<!-- end content body -->