<!-- content body -->
<div class="content_homepage">
    <div class="container">
        <div class="gioithieu_area">
            <p></p>
            <h2>{% t introduce.header %}</h2>
            <h6>{% t introduce.detail %}</h6>
            <p></p>
            <div class="row">
                <div class="col-md-6">
                    <div class="hinh_anh_hethong">
                        <div class="gioithieu_trangchu">
                            <img src="{{ site.constant.img_introduce }}"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mota_hethong">
                        {% tf introduce.md %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content body -->