<!-- content body -->
<div class="content_homepage">
    <div class="container">
        <div class="booking_form">
            <p>
                <noscript>Lưu ý: Cần phải có JavaScript với nội dung này.</noscript>
            </p>
            <h3>{% t booking.booking %}</h3>
            <p>
                <i>{% t booking.note_1 %}(<span class="text-red">*</span>){% t booking.note_2 %}</i>
            </p>
            <div>
                <form id="gform" method="POST" class="pure-form pure-form-stacked" data-email="nhanghimaichau@gmail.com" action="https://script.google.com/macros/s/AKfycby10RpMy2Fm-KKmfeyewOtrAI5SoouBEYSYIAplGg/exec">
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.full_name %}
                            <span class="text-red">*</span>
                        </label>
                        <input id="name" name="name" class="form-control" type="text" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.phone %}
                            <span class="text-red">*</span>
                        </label>
                        <input id="phone" name="phone" class="form-control" type="text" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.email %}
                            <span class="text-red">*</span>
                        </label>
                        <input id="email" name="email" class="form-control" type="email" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.type %}</label>
                        <select id="type" name="type" class="form-control">
                            <option value="Không chọn"></option>
                            <option value="Một giường đôi">{% t booking.type_option_01 %}</option>
                            <option value="Hai giường đôi">{% t booking.type_option_02 %}</option>
                            <option value="Ba giường đôi">{% t booking.type_option_03 %}</option>
                            <option value="Phòng VIP">{% t booking.type_option_04 %}</option>
                        </select>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.persons %}</label>
                        <input id="persons" name="persons" class="form-control" type="number" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.childrens %}</label>
                        <input id="childrens" name="childrens" class="form-control" type="number" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.from %}</label>
                        <div class='input-group date' id=''>
                            <input id="from" name="from" input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">{% t booking.to %}</label>
                        <div class='input-group date' id=''>
                            <input id="to" name="to" input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group col-btn-book">
                        <label for="" class=""></label>
                        <button id="btn-book" class="btn btn-info">
                            <i class="fa fa-paper-plane"></i>{% t booking.book_now %}
                        </button>
                    </div>
                </form>
                <div style="display:none;" id="thankyou_message">
                    <h3 class="text-red">
                        <em>{% t booking.thank_you %}</em>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="gioithieu_area">
            <p></p>
            <h2>{% t introduce.header %}</h2>
            <h6>{% t introduce.detail %}</h6>
            <p></p>
            <div class="row">
                <div class="col-md-6">
                    <div class="hinh_anh_hethong">
                        <div class="gioithieu_trangchu">
                            <img src="{{ site.constant.img_introduce }}"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mota_hethong">
                        {% tf introduce.md %}
                    </div>
                </div>
            </div>
        </div>

        <div class="hethongphong_area">
            <h2>{% t room_system.header %}</h2>
            <h6>{% t room_system.detail %}</h6>

            <div class="row">

                <div class="col-md-4">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <img src="src/img/motgiuongdoi.jpg" /> </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> {% t room_system.type_01 %} </a>
                            </h3>
                            <p>
                                <span>250.000 VND</span>
                                <a href="#">
                                    <button>{% t room_system.book_now %}</button>
                                </a>1
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <img src="src/img/haigiuongdoi.jpg" /> </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> {% t room_system.type_02 %} </a>
                            </h3>
                            <p>
                                <span>350.000 VND</span>
                                <a href="#">
                                    <button>{% t room_system.book_now %}</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <img src="src/img/bagiuongdoi.jpg" /> </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> {% t room_system.type_03 %} </a>
                            </h3>
                            <p>
                                <span>400.000 VND</span>
                                <a href="#">
                                    <button>{% t room_system.book_now %}</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <!-- <img src="https://dummyimage.com/700x493/" /> </a> -->
                                <div class="img-vip" src=""></div>
                            </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> {% t room_system.type_04 %} </a>
                            </h3>
                            <p>
                                <span>300.000 VND</span>
                                <a href="#">
                                    <button>{% t room_system.book_now %}</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content body -->